
.menu-btn
{
    display: block;
}

.navbar ul {
    position: fixed;
    top: 72px;
    width: 60%;
    height: 100vh;
    left: -100%;
    background-color: rgb(18, 19, 19);
    /* display: block; */
    /* text-align: center; */
    /* flex-direction: row; */
    transition: all 0.3s ease-in-out;
    /* z-index: -1; */
    display: flex;
    flex-direction: column;
}
.navbar
{
    /* border: 2px solid grey; */
    height: 30px;
    /* border-radius: 4px; */
}



.navbar .menu-btn i {
    position: fixed;
    font-size: 20px;
    color: white;
    display: block;
    left: 5px;
    top: 75px;
}
#click:checked ~ .menu-btn i:before {
    position: relative;
    content: "\f00d";
    z-index: 5;
    
 }
#click:checked ~ ul {
    left: 0%;
    
 }
#click:checked ~ .hr {
    display: block;
    position: relative;
    top: 13px;
    
 }
 #watch, #searchbox
 {
    font-size: 12px;
    margin-left: 20px;
 }
.inp
{
    width: 100px;
}
#ss
{
    width: 60px;
}
.navbar .menu-btn i
{
    font-size: 25px;
}
 
